#video {
  position: relative;
  height: 476px;
  background: url(../images/video-bg.jpg) center/cover;

  .play-icon-wrapper {
    position: relative;
    border: none;
    width: 92px;
    height: 92px;
    background-color: var(--accent);
    transform: translate(0, -30%);
    transition: background-color var(--animate);

    &:hover {
      background-color: white;
      color: var(--accent);

      i {
        color: var(--accent);
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: var(--accent);
      border-radius: 50%;
      animation: button-ripple 3s infinite;
      animation-delay: 0.3s;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: var(--accent);
      border-radius: 50%;
      animation: button-ripple 3s infinite;
      animation-delay: 0.9s;
    }

    i {
      color: var(--bg);
      font-size: 32px;
      transition: color var(--animate);

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: var(--accent);
        border-radius: 50%;
        animation: button-ripple 3s infinite;
        animation-delay: 0s;
      }
    }
  }

  .modal .modal-dialog {
    width: 900px !important;
    max-width: 95%;

    .modal-content {
      iframe {
        box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 8px 0px;
        max-width: 100%;
        aspect-ratio: 16/9;
      }
    }
  }

  .foot {
    width: 100%;
    background-image: radial-gradient(
      rgba(47, 62, 75, 0.6) 0%,
      rgba(47, 62, 75, 0.035) 100%
    );
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 21px;
    backdrop-filter: blur(21px);

    .arrow-icon-wrapper {
      width: 17px;
      height: 24px;
      background-color: var(--accent);
      border-radius: 4px;
    }

    p {
      font-size: 14px;
      font-weight: 500;

      a {
        border-bottom: 1px solid white;
        transition: color var(--animate);

        &:hover {
          color: var(--accent) !important;
        }
      }
    }
  }
}

@keyframes button-ripple {
  70% {
    box-shadow: 0 0 0 15px currentColor;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 0 currentColor;
    opacity: 0;
  }
}
