body:not(:has(.un-show-loader)) {
  .main {
    display: none;
  }
}

#loader {
  height: 100dvh;
  transition: opacity 0.3s ease;
  z-index: 9999;
  background-color: beige;

  display: flex;
  align-items: center;
  justify-content: center;

  &.un-show-loader {
    opacity: 0;
    pointer-events: none;
  }

  img {
    position: absolute;
    width: 50px;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: puls-icon 2s infinite ease;
  }

  /* From Uiverse.io by xXJollyHAKERXx */
  .spinner {
    background-image: linear-gradient(var(--accent) 35%, beige);
    width: 100px;
    height: 100px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow:
      0px -5px 20px 0px var(--accent),
      0px 5px 20px 0px beige;

    .spinner1 {
      background-color: beige;
      width: 100px;
      height: 100px;
      border-radius: 50px;
      filter: blur(10px);
    }
  }
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes puls-icon {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
